@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sidebar {
  width: 100%;
  &__inner {
    position: relative;
    padding: 25px 20px 0;
  }
  &__author {
    &-photo {
      display: inline-block;
      margin-bottom: 0;
      border-radius: 50%;
      background-clip: padding-box;
    }
    &-title {
      font-size: $typographic-base-font-size * 1.125;
      font-weight: 500;
      @include line-height(1.125);
      @include margin(0.5, 0, 0.5, 0);
      &-link {
        color: $color-base;
        &:hover,
        &:focus {
          color: $color-base;
        }
      }
    }
    &-subtitle {
      color: $color-gray;
      @include line-height(1);
      @include margin-bottom(1);
    }
  }

  &__footer {
    border-top: 1px solid $color-gray-border;
  }

  &__heading {
    line-height: 1;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  &__text {
    color: $color-gray;
  }

  &__subscribe {
    display: flex;
    margin-bottom: 2rem;
    position: relative;

    .sidebar__subscribe__email {
      box-shadow: none;
      border: 1px solid $color-gray-border;
      border-radius: 3px;
      padding: 0.5rem 0.7rem;
      line-height: 1;
      width: 100%;
      height: 1rem;
      font-size: 0.9rem;
    }

    .sidebar__subscribe__button {
      background: $color-primary;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border: none;
      line-height: 1;
      padding: 0.5rem 0.7rem;
      cursor: pointer;
      transition: all 150ms ease-in-out;
      height: 100%;
      color: white;
      font-size: 1rem;
      font-weight: bold;

      position: absolute;
      right: 0;

      &:hover {
        background-color: transparentize($color: $color-primary, $amount: 0.1);
      }
    }
  }

  &__copyright {
    color: lighten($color-gray, 18%);
    font-size: $typographic-small-font-size;
  }
}

@include breakpoint-sm {
  .sidebar {
    lost-column: 5/12;
    &__inner {
      padding: 30px 20px 0;
      &:after {
        background: $color-gray-border;
        background: linear-gradient(
          to bottom,
          $color-gray-border 0%,
          $color-gray-border 48%,
          $color-white 100%
        );
        position: absolute;
        content: '';
        width: 1px;
        height: 540px;
        top: 30px;
        right: -10px;
        bottom: 0;
      }
    }
  }
}

@include breakpoint-md {
  .sidebar {
    lost-column: 1/3;
    &__inner {
      padding: 40px;
    }
  }
}
